<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>  
    <%= f.association :ingredient %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Back to all cocktails", root_path, class: 'btn btn-secondary btn-sm subtitle' %>
</div>
